{{ define "main" }}

    <div class="home-content" style="text-align: left; vertical-align: center;">
    <h1>Welcome to My Website!</h1>
    <br>
    <p>Today's Date: {{ now.Format "January 2, 2006" }}</p>
    
    <br>
    
    <div class="home-content" style="text-align: left; vertical-align: center;"></div>
        <h2> I'm a data scientist and machine learning engineer focused on digital transformation. </h2>
    </div>
    <br>
    <h4>
        <a href="/about/">Click to learn a little more about me</a>
    </h4>
    <br>    
    <img src="assets/background.jpg">
    <p><b>This is the homepage.</b> Explore the site using the navigation menu.</p>
    </div>
    
{{ end }} 